sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t stephengrider/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true stephengrider/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  region: "ap-northeast-1"
  app: "docker_react"
  env: "Dockerreact-env"
  bucket-name: "elasticbeanstalk-ap-northeast-1-956635543452"
    #パスは何でも良い。
  bucket-path: "docker_react"
  on:
    branch: master